.pl-accordion {
  border: 1px solid #c3c4c7;

  &-item {
    border-top: 1px solid #c3c4c7;
    &:first-child {
      border-top: none;
    }
  }

  &-heading {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: 600;
    color: inherit;
  }
  &-panel {
    margin: 0;
    padding: 1em 1.5em;
    background: #fff;

    [hidden] {
      display: none;
    }

    a .dashicons {
      text-decoration: none;
    }
  }
  &-actions {
    text-align: right;
    display: block;
  }
  &-trigger {
    background: #fff;
    border: 0;
    color: #2c3338;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    margin: 0;
    padding: 1em 3.5em 1em 1.5em;
    min-height: 46px;
    position: relative;
    text-align: left;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: auto;
    user-select: auto;

    &[aria-expanded="true"] .icon {
      transform: translateY(-30%) rotate(-135deg)
    }

    &:hover,
    &:active {
      background: #f6f7f7;
    }
    &:focus {
      color: #1d2327;
      border: none;
      box-shadow: none;
      outline-offset: -1px;
      outline: 2px solid #2271b1;
      background-color: #f6f7f7;
    }

    .title {
      pointer-events: none;
      font-weight: 600;
      flex-grow: 1;
    }

    .icon {
      border: solid #50575e;
      border-width: 0 2px 2px 0;
      height: 0.5rem;
      pointer-events: none;
      position: absolute;
      right: 1.5em;
      top: 50%;
      transform: translateY(-70%) rotate(45deg);
      width: 0.5rem;
    }

    .badge {
      padding: 0.1rem 0.5rem 0.15rem;
      color: #2c3338;
      font-weight: 600;
      margin-left: 0.5rem;

      &.blue {
        border: 1px solid #72aee6;
      }
      &.orange {
        border: 1px solid #dba617;
      }
      &.red {
        border: 1px solid #e65054;
      }
      &.green {
        border: 1px solid #00ba37;
      }
      &.purple {
        border: 1px solid #2271b1;
      }
      &.gray {
        border: 1px solid #c3c4c7;
      }
    }
  }
}
